body{
    background-color: gray;
}
@media (prefers-color-scheme: dark) {
    body{
        background-color: black;
        color: white
    }
}

.center {
    margin: auto;
    margin-top: 10%;
    width: 50%;
    padding: 10px;
}
